/* RESET */
*{
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue Regular;
  cursor: url(images/circle-cursor.png), auto;
}


/* HEADER */
header{
    background-color: white;
    height: 40px;
    padding: 0 30px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 2px solid #ff0000;
}

#home{
  text-transform: uppercase;
  color: #ff0000;
  font-size: 14pt;
  text-decoration: none;
}

#home:hover{
  text-decoration: line-through;
}

.menu a{
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
  font-size: 50px;
  cursor: url(images/circle-cursor-hover.png), auto; /* Cursor sobre los enlaces */
  display: none;
  transition: 0.4s;
}

.mostrar-menu{
  order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
  color: red;
}

#check{
  display: none;
}


/* MAIN */

body{
  background-color: rgb(36,36,36);
  width: 100%;
}

#body2{
  background-color: rgb(0, 0, 0);
  width: 100%;
}

#main{
  background-color: rgb(255, 255, 255);
  width: 90%; /* El contenedor ocupa el 90% del ancho del viewport */
  max-width: 1500px; /* Ancho máximo del contenedor */
  /* margin: 0 auto; */
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

#info{
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 70%;
    padding: 30px;
    position: sticky;
    top: 0;
    top: 40px; /* Altura del header fijo */
    z-index: 900; /* Asegura que el div sticky esté por debajo del header */
}

.cursiva{
  font-family: Femme Fatale;
}

p{
  margin-top: 10pt;
  margin-right: 10%;
  margin-bottom: 15pt;
  text-align: justify;
}

#proyecto{
  background-color: rgb(36, 36, 36);
    width: 70%;
    padding: 2%;
    /* border-left: 2px solid #b4b4b4; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#diseño{
  background-color: rgb(0, 0, 0);
    width: 70%;
    padding: 2%;
    /* border-left: 2px solid #b4b4b4; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    cursor: url(images/circle-cursor-grey.png), auto;
}

#diseño img{
  cursor: url(images/circle-cursor-grey.png), auto;
}

#proyecto img{
  display: block;
  max-width: 100%;
  padding: 10px;
}

.images-peque{
  width: 40%;
  margin-left: 2.5%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.images-peque2{
  margin-top: -32%;
  margin-left: 2.5%;
  height: auto;
  width: 45%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.pg{
  margin-left: 47%;
  /* margin-top: -25%; */
}

#cartel{
  margin-left: -2.8%;
}
#cartel2{
  margin-left: 0;
}
#info img:hover{
  cursor: url(images/circle-cursor-hover.png), auto; /* Cursor sobre los enlaces */
}

a{
  text-decoration: none;
  cursor: url(images/circle-cursor-hover.png), auto; /* Cursor sobre los enlaces */
}

a:link{
  color: black;
}

a:visited{
  color: black;
}

a:hover{
  color: red;
}

a:active{
  text-decoration: line-through;
}

/* LÍNEA ROJA */
.linea-roja {
  width: 100%;
  height: 2px; /* Grosor de la línea */
  background-color: red; /* Color de la línea */
  margin: 0 auto; /* Ajusta los márgenes si es necesario */
}

img{
  /* background-color: #ad6a6a; */
  max-width: 100%; /* Asegura que las imágenes no se desborden */
  height: auto; /* Ajusta automáticamente la altura */
}

footer{
    background-color: #ffffff;
    /* width: 100%; */
    height: 60px;
    padding: 0 30px;
    margin-top: 1%;
    bottom:  0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #000000;
    clear: both; /* Asegura que ningún contenido flote a su alrededor */
}

.back-to-top {
  position: sticky; /* Fija la posición de la flecha en la pantalla */
  bottom: 20px; /* Distancia desde la parte inferior */
  left: 95%; /* Distancia desde la derecha */
  width: 50px; /* Ancho de la imagen */
  height: 50px; /* Altura de la imagen */
  cursor: pointer; /* Cambia el cursor a un puntero */
  z-index: 1000; /* Asegura que la flecha esté sobre otros elementos */
  transition: opacity 0.5s; /* Transición de opacidad */
  display: block;
  margin-top: -4.3%;
}

/* Mostrar el botón cuando el usuario ha desplazado hacia abajo */
body.scrolled .back-to-top {
    display: block; /* Mostrar el botón */
}

/* Para hacer el scroll suave */
html {
    scroll-behavior: smooth; /* Desplazamiento suave */
}

.back-to-top:hover {
   cursor: url(images/circle-cursor-hover.png), auto; /* Cursor sobre los enlaces */
}


  /* RESPONSIVE */

@media(max-width:1128px){
  /* HEADER */
  header{
    background-color: white;
    height: 80px;
    padding: 0 30px;
    font-size: 130%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 2px solid #ff0000;
  }

  .mostrar-menu,
  .esconder-menu{
    display: block;
    font-size: 50px;
  }

  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.5s;
  }

  .menu a{
    display: block;
    padding: 20px;
  }

  .esconder-menu{
    position: absolute;
    top: 40px;
    right: 40px;
  }

  #check:checked ~ .menu{
    right: 0;
  }
  /* MAIN */

  body{
    background-color: #ffffff;
  }

  #body2{
    background-color: #ffffff;
  }

  #main {
    background-color: #ffffff;
    flex-direction: column; /* Cambia a column para versiones móviles */
  }

  #info, #proyecto, #diseño {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-bottom: 20px; /* Espacio entre las secciones */
    position: relative;
    background-color: #ffffff;
    border-left: 0px solid #ffffff;
  }

  #diseño{
    margin-top: 5%;
    margin-left: 6%;
  }

  #diseño img{
    margin-top: 5%;
    margin-right: 6%;
  }

  #main img{
    width: 100%;
    height: auto;
  }

  #proyecto img{
    max-width: 100%; /* Asegura que las imágenes no se desborden */
    height: auto; /* Ajusta automáticamente la altura */
  }

  #info{
    font-size: 110%;
    /* margin-top: 1%; */
    margin-left: 3%;
  }

  #info img{
    width: 5%;
  }

  #poster_anim{
    width: 80%;
  }

  .images-peque{
    width: 29%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .images-peque2{
    margin-top: 0%;
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .pg{
    margin-left: 0px;
    margin-top: 0%;
  }

  .linea-roja {
    width: 100%;
    height: 2px; /* Grosor de la línea */
    background-color: red; /* Color de la línea */
    margin: 0 auto; /* Ajusta los márgenes si es necesario */
  }

  .back-to-top{
    display: none;
  }
}

/* fonts!! */

@font-face {
  font-family: Helvetica Neue Regular;
  src: url(fonts/HelveticaNeueRoman.otf);
}

@font-face {
  font-family: Helvetica Neue Italic;
  src: url(fonts/HelveticaNeueItalic.ttf);
}

@font-face {
  font-family: Helvetica Neue Thin Italic;
  src: url(fonts/HelveticaNeueThinItalic.otf);
}

@font-face {
  font-family: Femme Fatale;
  src: url(fonts/SK\ Femme\ Fatale\ Trial.ttf);
}