.header{
    background-color: rgb(255, 89, 0);
    height: 15%;
    width: 100%;
}

.body{
    width: 100%;

}

.container{
    background-color: aquamarine;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}

.info{
    background-color: antiquewhite;
    height: 630px;
    width: 30%;
}

.proyecto{
    background-color: blue;
    width: 60%;
    height: 630px;
}

.parent{
    width: 100%;
}