/* RESET */
*{
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue Regular;
    cursor: url(images/circle-cursor.png), auto;
}

header{
    background-color: rgb(255, 89, 0);
    height: 40px;
    width: 100%;
    position: sticky;
    top: 0;
    /* border-bottom: 2px solid #ff0000; */
}

.body{
    width: 100%;

}

#main{
    background-color: aquamarine;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border-top: 2px solid #ff0000;
}

#info{
    background-color: antiquewhite;
    width: 20%;
    height: 360px;
    padding: 20px;
    position: sticky;
    top: 0;
}

#proyecto{
    background-color: rgb(130, 130, 235);
    width: 80%;
    border-left: 2px solid #b4b4b4;
}

#anima{
    background-color: black;
    margin-top: -4px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
}

#cartel{
    margin-left: 70px;
}

#ig{
    margin-top: 40px;
}