/* RESET */
*{
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue Regular;
}

.main{
    /* background-color: beige; */
    width: calc(20%);
    margin: 0 auto;
    margin-top: 95px;
    text-align: center;
}

.main-image{
    width: 300px;
    border: solid 3px red
}
#adjetivos{
    position: fixed;
    /* background-color: aqua; */
    width: 320px;
    height: 320px;
    top: 90px;
    left: 610px;
    opacity: 30%;
    margin: 0;
    padding: 0;
    font-size: 15pt;
}

#adjetivos:hover{
    opacity: 100%;
}

#adjetivos img{
    margin-left: -30px;
    margin-top: -20px;
    z-index: 1000;
}

.linea1{
    width: 150px;
    height: 2px;
    background-color: black;
    transform: rotate(20deg);
    position: relative;
    left: -160px;
    top: -330px; 
}

.text1{
    position: relative;
    left: -360px;
    top: -376px; 
}

.text2{
    position: relative;
    left: 500px;
    top: -60px; 
}

.text3{
    position: relative;
    left: -350px;
    top: 80px; 
}

.text4{
    position: relative;
    left: -540px;
    top: -266px; 
}

#nombre{
    font-family: Helvetica Neue Thin Italic;
    font-size: 20pt;
    margin-top: 20px;
    margin-bottom: 30px;
    transform: scaleY(3);
}

p.texto{
    margin-top: 3px;
    margin-bottom: 1px;
    text-align: justify;
    font-size: 11pt;
}

/* links!! */


a{
    text-decoration: none;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    color: red;
}

a:active{
    text-decoration: line-through;
}

.links{
    /* background-color: rgb(255, 193, 148); */
    font-size: 20pt;
    /* width: calc(75%);
    margin-left: auto;
    margin-right: auto;
    text-align: center; */
}

/* LÍNEAS */
.linea-roja1 {
    width: 250px;
    height: 2px;
    background-color: red;
    transform: rotate(-12deg);
    position: relative;
    left: 330px;
    top: -150px;
}

.linea-roja2 {
    width: 250px;
    height: 2px;
    background-color: red;
    transform: rotate(-30deg);
    position: relative;
    left: 930px;
    top: -380px;
}

.linea-roja3 {
    width: 270px;
    height: 2px;
    background-color: red;
    transform: rotate(7deg);
    position: relative;
    left: 800px;
    top: -25px;
}

#music{
    position: relative;
    left: 1170px;
    top: -480px;
}

#design{
    position: relative;
    left: 229px;
    top: -136px;
}

#ilu{
    position: relative;
    left: 1100px;
    top: -50px;
}

/* fonts!! */

@font-face {
    font-family: Helvetica Neue Regular;
    src: url(fonts/HelveticaNeueRoman.otf);
}

@font-face {
    font-family: Helvetica Neue Italic;
    src: url(fonts/HelveticaNeueItalic.ttf);
}

@font-face {
    font-family: Helvetica Neue Thin Italic;
    src: url(fonts/HelveticaNeueThinItalic.otf);
}

/* RESPONSIVE */
@media(max-width:768px){
     /* MAIN */

    
  }