body{
    /* background-color: aqua; */
    font-family: Helvetica Neue Regular;
}

.main{
    /* background-color: beige; */
    width: calc(20%);
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

.main-image{
    width: 300px;
    border: solid 3px red
}

.main-image:hover{
    opacity: 70%;
}

#nombre{
    font-family: Helvetica Neue Thin Italic;
    font-size: 20pt;
    margin-top: 15px;
    margin-bottom: 30px;
    transform: scaleY(3);
}

p.texto{
    margin-top: 3px;
    margin-bottom: 1px;
    text-align: justify;
    font-size: 10pt;
}

/* links!! */


a{
    text-decoration: none;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    color: red;
}

a:active{
    text-decoration: line-through;
}

.links{
    /* background-color: rgb(255, 193, 148); */
    font-size: 20pt;
    /* width: calc(75%);
    margin-left: auto;
    margin-right: auto;
    text-align: center; */
}

#music{
    position: relative;
    left: 1000px;
    top: -480px;
}

#design{
    position: relative;
    left: 229px;
    top: -136px;
}

#ilu{
    position: relative;
    left: 1000px;
    top: -10px;
}

/* fonts!! */

@font-face {
    font-family: Helvetica Neue Regular;
    src: url(fonts/HelveticaNeueRoman.otf);
}

@font-face {
    font-family: Helvetica Neue Italic;
    src: url(fonts/HelveticaNeueItalic.ttf);
}

@font-face {
    font-family: Helvetica Neue Thin Italic;
    src: url(fonts/HelveticaNeueThinItalic.otf);
}